@{
    ViewData["Title"] = "Home Page";
    Layout = @"_Layout";
}
<style type="text/css">
    .btn-stacked {
        display: block;
        width: 20%;
        margin: 10px auto;
    }
</style>

<div class="text-center">
    <h1 style="margin-bottom: 40px">Menu principal</h1>

    @Html.ActionLink("Nueva solicitud", null, null, null, new {@class = "btn btn-primary btn-stacked"})
    @Html.ActionLink("Almacén de películas", null, null, null, new {@class = "btn btn-primary btn-stacked"})
    @Html.ActionLink("Lista de espera", null, null, null, new {@class = "btn btn-primary btn-stacked"})
    @Html.ActionLink("Socios", null, null, null, new {@class = "btn btn-primary btn-stacked"})
    @Html.ActionLink("Recibir película", null, null, null, new {@class = "btn btn-primary btn-stacked"})
    @Html.ActionLink("Películas prestadas", null, null, null, new {@class = "btn btn-primary btn-stacked"})
    @Html.ActionLink("Películas devueltas", null, null, null, new {@class = "btn btn-primary btn-stacked"})
</div>